@import "tailwindcss";

body {
  margin: 0 auto;
  overflow-x: hidden;
  overscroll-behavior: none;
  touch-action: pan-x pan-y;
}

/* START Hide default input password eye START */
input[type="password"]::-ms-reveal {
  display: none;
}

input[type="password"]::-webkit-outer-spin-button,
input[type="password"]::-webkit-inner-spin-button {
  display: none;
}

input[type="password"]::-webkit-search-cancel-button {
  display: none;
}

input[type="password"]::-webkit-input-placeholder {
  display: none;
}
/* END Hide default input password eye END */

@theme {
  /* primary */
  --color-primary: #04347f;
  --color-primary-light: #474ebb;
  /* secondary */
  --color-secondary: #828282;
  --color-secondary-light: #c4c4c4;
  /* background */
  --color-bg: #b8b8b8;
  /* border */
  --color-border: #dadada;
}
